/* .heart {
    background-color: red;
    border-radius: 8px;
} */
.post {
    margin-top: 2px;
}

.subreddit {
    margin-bottom: 10px;
}

/* button {
    margin-top: 10px;
} */

.country {
    margin-bottom: 10px;
}